{% extends 'base.html' %}

{% block style %}
<style>
    .task {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: auto;
        margin-bottom: 8px;
        border: 2px solid gray;
        border-radius: 5px;
        max-width: 500px;
    }

    button {
        margin: 5px;
    }

    .delete {
        color: red;
        border: 1px solid red;
    }
</style>
{% endblock %}

{% block content %}
<ul>
    {% for task in tasks %}
    <li class="task">
        <div {{ 'style=text-decoration:line-through;' if task['complete'] else '' }}>
            <h4>{{ task['name'] }}</h4>
            <p>{{ task['comment'] }}</p>
        </div>
        <div>
            <form method='post' action='/tasks?method=patch&id={{ task["id"] }}'>
                <button class="complete">Complete</button>
            </form>
            <form method='post' action='/tasks?method=delete&id={{ task["id"] }}{{ "&permanently=True" if delete else "" }}'>
                <button class="delete">Delete</button>
            </form>
        </div>

    </li>
    {% endfor %}
</ul>
{% endblock %}