{% extends 'base.html' %}

{% block style %}
<style>
    .task {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: auto;
        margin-bottom: 8px;
        border: 2px solid gray;
        border-radius: 5px;
        max-width: 500px;
    }

    button {
        margin: 5px;
    }

    .delete {
        color: red;
        border: 1px solid red;
    }

    .date {
        color: gray;
        text-align: center;
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}
<ul>
    {% for task in tasks %}
    <li class="task">
        <div {{ 'style=text-decoration:line-through;' if task['complete'] else '' }}>
            <h4>{{ task['name'] }}</h4>
            <p>{{ task['comment'] }}</p>
        </div>
        <div>
            {% if delete %}
                <form method='post' action='/tasks?method=patch&id={{ task["id"] }}&recover=true'>
                    <button style="color: green;" class="complete">Recover</button>
                </form>
            {% else %}
                {% if task['complete'] %}
                <form method='post' action='/tasks?method=patch&id={{ task["id"] }}'>
                    <button style="color: olive;" class="complete">not complete</button>
                </form>
                {% else %}
                <form method='post' action='/tasks?method=patch&id={{ task["id"] }}&complete=true'>
                    <button style="color: green;" class="complete">Complete</button>
                </form>
                {% endif %}
            {% endif %}
            <form method='post'
                action='/tasks?method=delete&id={{ task["id"] }}{{ "&permanently=True" if delete else "" }}'>
                <button class="delete">{{ 'Delete' if not delete else ' Delete forever' }}</button>
            </form>
            <div class="date">{{ task['create_date'].date() }}</div>
            <div class="date">{{ task['create_date'].strftime('%H:%M') }} UTC</div>
        </div>

    </li>
    {% endfor %}
</ul>
{% endblock %}